.outer__container{
    display: flex;
    justify-content: center;
    align-items: center;
}
.container__1{
    position: relative;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-wrap: wrap;
    margin: 40px 0;
    gap: 10px;
}
